/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --borders-color: #FF0070;
  --decorative-items-color: #FF0070;
  --header-menu-color: #FF0070;
  --header-hover-color: #FF007066;
  --header-focus-color: #FF0070;
  --hero-color: #DB00FF;
  --hero-shadow-color: #FF0070;
  --hero-description-color: #000028;
  --hero-bg-color: #FF0070;
  --article-heading-color: #FF0070;
  --article-subheading-color: #000028;
  --article-bg-color: #FF0070;
  --body-text-color: #F1B2CE;
  --link-shadow-color: #FF0070;
  --link-hover-color: #F1B2CE;
  --link-focus-color: #F1B2CE; 
}

.theme-dark .header__rec {
    display: inline;
  }