/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --borders-color: #353430;
  --decorative-items-color: #000028;
  --header-menu-color: #353430;
  --header-hover-color: #32312D66;
  --header-focus-color: #353430;
  --hero-color: #FFC2E6;
  --hero-shadow-color: #FF8DCB;
  --hero-description-color: #353430;
  --hero-bg-color: #FF8DCB;
  --article-heading-color: #353430;
  --article-subheading-color: #353430;
  --article-bg-color: #FF8DCB;
  --body-text-color: #353430;
  --link-shadow-color: #FF8DCB;
  --link-hover-color: #353430;
  --link-focus-color: #353430; 
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --bg-color: #FFF1F7;
    --borders-color: #353430;
    --decorative-items-color: #000028;
    --header-menu-color: #353430;
    --header-hover-color: #32312D66;
    --header-focus-color: #353430;
    --hero-color: #FFC2E6;
    --hero-shadow-color: #FF8DCB;
    --hero-description-color: #353430;
    --hero-bg-color: #FF8DCB;
    --article-heading-color: #353430;
    --article-subheading-color: #353430;
    --article-bg-color: #FF8DCB;
    --body-text-color: #353430;
    --link-shadow-color: #FF8DCB;
    --link-hover-color: #353430;
    --link-focus-color: #353430;
  }

  .header__rec {
    display: none;
  }
}