/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --bg-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  font-family: var(--main-font);
}

.page {
  background-image: var(--background-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
}

.header {
  display: grid;
  position: relative; 
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 41.75em;
  padding-inline-start: var(--padding-global-mob);
  padding-inline-end: var(--padding-global-mob);

}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--borders-color);
  border-left: 1px solid var(--borders-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--borders-color);
  border-right: 1px solid var(--borders-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-item {
  font-family: var(--main-font);
  line-height: var(--main-line-height);
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.8em;
  padding-block-start: 4.2em;
  padding-block-end: 3.7em;
}

.header__theme-menu-button {
  border: none;
  padding: 0.094em 0.813em;
  color: var(--header-menu-color);
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  text-transform: lowercase;
  background-color: initial;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 38px;
  justify-self: end;
  color: var(--decorative-items-color);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  text-transform: uppercase;
}

.rec::after {
  content: "";
  position: absolute;
  display: inline;
  top: 8px;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border: 1px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decorative-items-color);
  background-color: var(--decorative-items-color);
}

.hero-title {
  color: var(--hero-color);
  font-family: var(--hero-title-font);
  font-weight: var(--hero-title-weight);
  font-size: var(--hero-title-font-size);
  line-height: var(--hero-title-line-height);
  text-shadow: 4px 4px 0 var(--hero-shadow-color);
}

.hero__description {
    display: grid;
    gap: 0px;
    grid-template-rows: min-content min-content;
    margin-block-start: 3.51em;
}

.hero-text {
  color: var(--hero-description-color);
  font-family: var(--hero-text-font);
  font-weight: var(--hero-text-weight);
  font-size: var(--hero-text-font-size);
  line-height: var(--hero-text-line-height);
  background-color: var(--hero-bg-color);
}

.main {
  display: grid;
  gap: 50px;
  padding-right: 20px;
  padding-inline-start: var(--padding-global-mob);
  padding-inline-end: var(--padding-global-mob);
  padding-block-start: 40px;
  max-inline-size: 1440px;
}

.content__block {
 display: grid;
 gap: 20px;
}

.content__block-title {
  color: var(--article-heading-color);
  font-weight: var(--font-weight-heading);
  font-size: var(--main-font-size);
}

.card {
  display: grid;
  grid-template-rows: min-content auto;
  gap: 10px;
}

.card__title {
  height: min-content;
  color: var(--article-subheading-color);
  font-weight: var(--font-weight-heading);
  font-size: var(--main-font-size);
  background-color: var(--article-bg-color);
}

.card__text {
  color: var(--body-text-color);
  font-weight: var(--font-weight-content);
  font-size: var(--main-font-size);
  line-height: var(--body-line-height);
}


.text__link {
  text-decoration: none;
  text-shadow: 2px 2px var(--link-shadow-color);
}

.large-card {
  gap: 21px;
}

.card__subtitle {
  font-weight: var(--font-weight-subheading);
}

.card__gallery {
  display: grid;
  gap: 10px;

}

.gallery {
  gap: 10px;
}

.gallery-image {
  object-fit: contain;
  inline-size: 100%;
  block-size: auto;

}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  margin-block-start: 40px;
  block-size: 100vh;
  min-height: 668px;
}

.hero-text-footer {
  text-shadow: 2px 2px 0 var(--hero-shadow-color);
}


@media (min-width: 768px) {
 
  .header {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-inline-start: 0px;
    padding-inline-end: 20px;
  }

  .header__theme-menu {
    grid-column: 4 / 5;
    margin-block-start: 114px;
  }

  .header__theme-menu-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.8em;
  padding-block-start: 4.9em;
  padding-block-end: 3.7em;
  }
  
  .hero-title {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    align-self: center;
  }

  .hero__description {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    justify-self: end;
    max-width: 22.75em;
    width: 100%;
    margin-block-start: 2.188em;
  
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

   .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .header__rec {
    top: 20px;
    right: 48px;
  }

  .main {
    gap: 80px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start: 60px;

  }

  .hard-to-concentrate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content__block-title {
     min-width: 236px;
     width: 100%;
  }

  .reasons-title {
    max-width: 236px;
  }

  .hard-to-concentrate__title {
    grid-column: 1 / 2;
  }

  .hard-to-concentrate__card {
    grid-column: 2 / 4;
  }

  .tips-to-concentrate {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .large-card {
    grid-column: 2 / 4;
  }

  .content__block {
    gap: 20px;
  }

  .card__gallery {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;

  }

  .gallery-image {
    object-fit: cover;
  }

  .image-sunset {
    grid-column: 1 / 3;
  }

  .image-ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
    height: 100%;
  }

  .image-tape {
    grid-column: 1;
    grid-row: 2 / 4;
    height: 100%;
  }

  .image-books {
    height: 100%;
  }

  .image-street {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer.decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

   .footer.decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .footer {
    margin-block-start: 60px;
  }
}


@media (min-width: 1024px) {
  .header {
    padding: 0;
  }
  .header__theme-menu {
    grid-column: 1 / 5;
    justify-self: center;
    align-content: start;
    margin-block-start: 20px;
    align-self: start;
  }
  .header__theme-menu-list {
    display: flex;
    gap: 7px;
    padding: 0;
  }

  .hero__description {
    grid-column: 3 / 5;
    grid-row: 3;
    width: initial;
    max-width: 100%;
    margin-inline-end: 20px;
    margin-block-start: 50px;
  }

   .content__block-title {
     min-width: 315px;
     width: 100%;
  }

  .disconcentration-reasons {
    grid-template-columns: repeat(3, 1fr);
  }

  .reasons-title {
    grid-column: 1 / 4;
  }
}


.header__theme-menu-button_active {
  border: 1px solid var(--header-menu-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--header-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--header-focus-color);
  outline: none;
}

a:hover {
  border-bottom: 1px solid var(--link-hover-color);
}

a:focus {
  outline: 1px solid var(--link-focus-color);
}