:root {
  /*
  --acid-pink: #DB00FF;
  --bright-pink: #FF0070;
  --soft-pink: #F1B2CE;
  --black: #000028;
  --accent-color: var(--bright-pink);
  */
  --bg-color: #000028;
  --borders-color: #FF0070;
  --decorative-items-color: #FF0070;
  --header-menu-color: #FF0070;
  --header-hover-color: #FF007066;
  --header-focus-color: #FF0070;
  --hero-color: #DB00FF;
  --hero-shadow-color: #FF0070;
  --hero-description-color: #000028;
  --hero-bg-color: #FF0070;
  --article-heading-color: #FF0070;
  --article-subheading-color: #000028;
  --article-bg-color: #FF0070;
  --body-text-color: #F1B2CE;
  --link-shadow-color: #FF0070;
  --link-hover-color: #F1B2CE;
  --link-focus-color: #F1B2CE; 
  --background-image: url("../images/cover-image-dark.png");
  --main-font: 'IBM Plex Mono', serif;
  --main-font-weight: 400;
  --main-font-size: 1.125em;
  --main-line-height: 18px;
  --padding-global-mob: 0.625em;
  --hero-font-size-mob: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --hero-font-size-tab-desk: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.hero-title {
  --hero-title-font-size: var(--hero-font-size-mob);
  --hero-title-font: 'IBM Plex Mono', serif;
  --hero-title-weight: 800;
  --hero-title-line-height: 83%;
  --hero-title-line-spacing: 0%;
}

.hero-text {
  --hero-text-font-size: 1.125em;
  --hero-text-font: 'IBM Plex Mono', serif;
  --hero-text-weight: 700;
  --hero-text-line-height: 23.4px;
  --hero-text-line-spacing: 0%;
}

.content__block {
  --font-weight-heading: 700; 
  --font-weight-content: 400;
  --body-line-height: 23.4px;
  --font-weight-subheading: 400;
}

@media (min-width: 768px) {
  .hero-title {
  --hero-title-font-size: var(--hero-font-size-tab-desk);
  }
}